/* :root {
  --main-bg:#28275f;
  --main-border:#231f57;
  --main:#D598D1;
  --main-hover:#485b9b;
  --main-text:var(--main);
  --main-transparent:rgba(33, 32, 94, 0.514);
  --bg-grid: 
    linear-gradient(transparent 0px, transparent 23px, rgba(255, 255, 255, 0.05) 24px),
    linear-gradient(to right, transparent 0px, transparent 23px, rgba(255, 255, 255, 0.05) 24px);

} */

:root, html[data-theme='dark'] {
  --main-bg: #121212;
  --main-border: #1e1e1e;
  --main: #bb86fc;
  --main-hover: #3700b3;
  --main-text: #ffffff;
  --main-transparent: rgba(0, 0, 0, 0.514);
  --bg-grid: 
    linear-gradient(transparent 0px, transparent 23px, rgba(255, 255, 255, 0.1) 24px),
    linear-gradient(to right, transparent 0px, transparent 23px, rgba(255, 255, 255, 0.1) 24px);
}

html[data-theme='light'] {
  --main-bg: #ffffff;
  --main-border: #e0e0e0;
  --main: #6200ee;
  --main-hover: #3700b3;
  --main-text: #000000;
  --main-transparent: rgba(255, 255, 255, 0.514);
  --bg-grid: 
    linear-gradient(transparent 0px, transparent 23px, rgba(0, 0, 0, 0.05) 24px),
    linear-gradient(to right, transparent 0px, transparent 23px, rgba(0, 0, 0, 0.05) 24px);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* @font-face {
  font-family: 'WenKai';
  src: url('./fonts/LXGWWenKai-Regular.ttf') format('truetype');
  font-display: swap;
} */

@font-face {
  font-family: 'WenKai';
  src: url('./fonts/ZhuZiAWan2.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'MaoYuan';
  src: url('./fonts/MaokenZhuyuanTi.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Maru';
  src: url('./fonts/maru401.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'MaoAiXin';
  src: url('./fonts/猫猫朋友体.ttf') format('truetype');
  font-display: swap;
}

html, body {
  scroll-behavior: auto !important; /* 防止和原生 smoothScroll 冲突 */
  will-change: scroll-position;
}


html{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:transparent;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--main);
  background: var(--main-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'WenKai', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: var(--main-bg);
  background-image: var(--bg-grid);
  background-size: 24px 24px;
  pointer-events: none;
}
